{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block projects_active %}active{% endblock %}
{% block projects_link %}{% endblock %}

{% block body_block %}



    <div class="container">
    <div class="col-md-12">
        <h1>Projects</h1>
        <p>
            Welcome to my projects page!
            Please browse below for more information about projects I have been involved with.
            This includes both individual and team projects.
        </p>
        {%  if Projects %}
            {% for project in Projects %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                            <h4>{{ project.name }}
                            {% if project.ongoing %}
                                <span class="label label-success pull-right">Current</span>
                            {% else %}
                                <span class="label label-danger pull-right">Past</span>
                            {% endif %}
                            </h4>
                    </div>
                    <div class="panel-body">
                    {% if project.short_description %}
                        <p>
                            {{ project.short_description }}
                        </p>
                    {% endif %}
                    {% if project.more_info_button_text %}
                        <p class="text-center">
                            <!--<a class="btn btn-primary btn-small" data-toggle="modal" data-target="#exampleModal" data-whatever="custom data" role="button">{{ project.more_info_button_text }}</a>-->
                            <!--<button id="demo" onclick="myFunction" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">open @fat</button>-->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="myFunction('{{ project.name }}','{{ project.long_description }}')">{{ project.more_info_button_text }}</button>
                        </p>
                    {% endif %}

                    </div>
                </div>

            {% endfor %}
        {% endif %}


    </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Project - More Information</h4>
                </div>
                <div class="modal-body">

                    <div class="modal-body" id="exampleModalBody">
                        body text here
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="demo" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>-->






    <script>
    function myFunction(name, description) {
          //var button = $(event.relatedTarget); // Button that triggered the modal
          //var recipient = 'recipient';//button.data('whatever') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          //var modal = $(this);
          //modal.find('.modal-title').text('New message to ' + recipient);
          //modal.find('.modal-body input').val(recipient);
        document.getElementById("exampleModalLabel").innerHTML = name.concat(" - More Information");
        document.getElementById("exampleModalBody").innerHTML = description;
    }
    </script>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/projects.js"></script>
{% endblock %}