{% extends 'base.html' %}

{% block projects_active %}active{% endblock %}

{% block body_block %}
		
<div class="container">
    <div class="col-md-12">
        <h1>Projects - Collier Memorial</h1>
        <p>
            Throughout the year I helped John Ochsendorf, an MIT professor, with several aspects of the Collier Memorial on the MIT campus.
            This is a five legged vaulted granite dome dedicated to the memory of the MIT police officer Sean Collier who was tragically killed in the aftermath of the Boston Bombings.
            My efforts on this project were particularly focused on the testing of materials and construction techniques.
            Early on we used large compression machines to investigate the mechanical properties of granite blocks along with the temporary plastic spacers that were placed in between.
            Then during the construction process I spearheaded age vs strength testing on the grout used to fill the gaps between the stones to assess the implications of reducing the ageing time before loading.
            I also helped design, test and implement the method for checking how much arching action had developed while lowering the granite stones and helped collect the data on the day of the lowering.
            During the process I also carried out various other small tasks such as a basic thermal expansion analysis.
        </p>
    </div>
</div>

{% endblock %}