{% extends 'base.html' %}

{% block projects_active %}active{% endblock %}

{% block body_block %}
		
<div class="container">
    <div class="col-md-12">
        <h1>Projects - Collier Memorial</h1>
        <p>
            In the Spring Semester Caitlin Mueller announced that she wanted to enter a competition being held as part of the International Annual Structures Symposium (IASS) conference in 2015.
            Teams from around the world were invited to design an architectural sculpture to be displayed in Amsterdam for the two months prior to the conference.
            I had never had the chance to do something like this before so I jumped at the opportunity and helped the team finalise the design throughout the semester.
            We decided to produce a set of 6m high pre-tensioned arches which all started at the same point on the ground and ended at the same point on a wall but gradually had a stronger and stronger inflection point half way up, such that when combined it looked like undulating waves.
            This was based on previous work by Leonardo .... who wrote a script that produces post-tensioning solutions to stabilise discretised curves.
            There were tight restrictions on weight and volume of materials, so we decided to laser-print stencils onto corrugated cardboard for folding into boxes on-site.
            Cardboard tubes and straps were then used for the post-tensioning system.
            As part of my contribution I helped design and construct LED lighting strips to be fitting to the arches, illuminating the underside of the boxes.
        </p>

    </div>
</div>

{% endblock %}