{% extends 'base.html' %}

{% block projects_active %}active{% endblock %}

{% block body_block %}
		
<div class="container">
    <div class="col-md-12">
        <h1>Projects - UROP</h1>
        <p>
            In a lecture at the start of the Fall Semester Caitlin Mueller demonstrated her online tool for structural optimisation and inspiration, <a href="http://www.caitlinmueller.com/structurefit/">StructureFit</a>.
            This uses a multi-step genetic algorithm to produce variations on a structural design, aiming to increase both structural efficiency and aesthetics.
            I found this fascinating, and so started having hour-long weekly meetings with Caitlin to discuss my thoughts on the topic of structural engineering computation and optimisation.
            These then led to a UROP in the Spring Semester where I investigated computational techniques for better informing conceptual design.
        </p>
    </div>
</div>

{% endblock %}