html, body {
  	margin: 0;
   	padding: 0;
   	background-color: #F0F0F0;   	
   	font-family: 'Open Sans', sans-serif;
}
  
/* This should be around line 4713 in your bootstrap.css */
.navbar-collapse.collapse {
        text-align: center; /* Set this */
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
}

/* This should be around line 4866 in your bootstrap.css */
.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}