{% extends 'base.html' %}
{% load staticfiles %}

{% block about_active %}active{% endblock %}
{% block about_link %}{% endblock %}

{% block body_block %}
<div class="container">
    <div class="col-md-12">
        <h1>About me</h1>
        <p>
            I decided that my website should have an "about me" section, but I struggled to decide what to put in it seen as though people could be looking at it for various reasons.
            So I've put in a general mixture of everything.
        </p>
        <h2>Personal</h2>
        <p>
            I was born and raised in High Wycombe, a medium sized town in the UK. Despite the fact that it's had its fair share of bad press,
            including being voted the 9th worst place to live in England, there are some surprisingly nice parts if you know where to look!
            I spend most of my spare time playing trumpet in as many groups as I can (see Music), and fill the remaining gaps with reading, coding or hanging out with friends.
            I'm not incredibly sporty, but I ski, sail and climb from time to time.
        </p>
        <h2>Academic</h2>
        <h3>RGS & Cambridge</h3>
        <p>
            I received my secondary education at The Royal Grammar School High Wycombe, where for A-level I studied Maths, Further Maths, Physics and Chemistry, along with a couple of others.
            In 2012 I became an undergraduate at Selwyn College, Cambridge studying Engineering.
            This is a four-year course, with a broad first two years covering all engineering disciplines. Topics covered include:
        </p>
        <ul>
            <li>Solid Mechanics</li>
            <li>Fluid Mechanics</li>
            <li>Thermodynamics</li>
            <li>Strctures</li>
            <li>Material Science</li>
            <li>Electrical Engineering</li>
            <li>Information Engineering</li>
            <li>Maths</li>
        </ul>
        <p>
            Out of these I decided to specialise in Civil and Structural Engineering, a subject I am very passionate about (see Structural Engineering above).
        </p>
        <h3>MIT</h3>
        <p>
            I spent the third year of my degree at MIT in Boston, having been awarded a scholarship and a place on an exchange program.
            This was a truely fantastic experience for which I am very grateful.
            The university has an extensive catalogue of courses available, from which I was able to select a wide range of interesting classes:
        </p>
        <ul>
            <li>1.351  - Theoretical Soil Mechanics</li>
            <li>1.541  - Analysis and Design of Concrete Structures</li>
            <li>1.561  - Motion-Based Design</li>
            <li>1.571  - Analysis of Structures</li>
            <li>1.572  - Structural Systems</li>
            <li>1.351  - Theoretical Soil Mechanics</li>
            <li>1.977  - Resiliant Design</li>
            <li>15.618 - Law for Cutting-Edge Technologies</li>
            <li>15.900 - Competitive Strategy</li>
        </ul>
        <p>
            Being at MIT also exposed me to a wide range of other great opportunities.
        </p>
        <h5><strong>UROP</strong></h5>
            <!--MIT has a strong research tradition which extends to undergraduates through their Undergraduate Research Opportunities Program (UROP).-->
            In a lecture at the start of the Fall Semester Caitlin Mueller demonstrated her online tool for structural optimisation and inspiration, <a href="http://www.caitlinmueller.com/structurefit/">StructureFit</a>.
            This uses a multi-step genetic algorithm to produce variations on a structural design, aiming to increase both structural efficiency and aesthetics.
            I found this fascinating, and so started having hour-long weekly meetings with Caitlin to discuss my thoughts on the topic of structural engineering computation and optimisation.
            These then led to a UROP in the Spring Semester where I investigated computational techniques for better informing conceptual design.
            I plan to add a more detailed writeup in my 'Projects' section at a later date.

        <h5><strong>Collier Memorial</strong></h5>
        <p>
            Throughout the year I helped John Ochsendorf with several aspects of the Collier Memorial on the MIT campus.
            This is a five legged vaulted granite dome dedicated to the memory of the MIT police officer Sean Collier who was tragically killed in the aftermath of the Boston Bombings.
            My efforts on this project were particularly focused on the testing of materials and construction techniques.
            Early on we used large compression machines to investigate the mechanical properties of granite blocks along with the temporary plastic spacers that were placed inbetween.
            Then during the construction process I spearheaded age vs strength testing on the grout used to fill the gaps between the stones to assess the implications of reducing the ageing time before loading.
            I also helped design, test and implement the method for checking how much arching action had developed while lowering the granite stones and helped collect the data on the day of the lowering.
            During the process I also carried out various other small tasks such as a basic thermal expansion analysis.
        </p>
        <h5><strong>IASS Pavilion</strong></h5>
        <p>
            In the Spring Semester Caitlin Mueller announced that she wanted to enter a competition being held as part of the International Annual Structures Symposium (IASS) conference in 2015.
            Teams from around the world were invited to design an architectural sculpture to be displayed in Amsterdam for the two months prior to the conference.
            I had never had the chance to do something like this before so I jumped at the oportunity and helped the team finialise the design throughout the semester.
            We decided to produce a set of 6m high pre-tensioned arches which all started at the same point on the ground and ended at the same point on a wall but gradually had a stronger and stronger inflection point half way up, such that when combined it looked like undulating waves.
            This was based on previous work by Leonardo .... who wrote a script that produces post-tensioning solutions to stabilise discretised curves.
            There were tight restrictions on weight and volume of materials, so we decided to laser-print stencils onto corrugated cardboard for folding into boxes on-site.
            Cardboard tubes and straps were then used for the post-tensioning system.
            As part of my contribution I helped design and construct LED lighing strips to be fitting to the arches, illuminating the underside of the boxes.
        </p>
        <h2>Professional Experience</h2>
        <p>
            I have completed four work placements in the London office of the structural engineering firm Robert Bird.
            I did 2 weeks in spring 2013, 6 weeks in summer 2013, and 7 weeks in summer 2014 with their Buildings department, and then 7 weeks in summer 2015 with their Advanced Technical Services department.
        </p>
        <h2>Other Skills</h2>
        <p>
            Over the years I've acquired several "skills", but most would look out of place written here.
            Therefore I have listed a selection of interesting ones below:
        </p>
        <ul>
            <li>UK driver's license</li>
            <li>Experience with several programming languages</li>
            <li>Grade 6 ISTD Tap Dancing</li>
        </ul>
        <p>
            For a more professional and relevant list of skills please see my CV / Resumé below. Or for a more relaxed chat feel free to get in touch and we can go to a pub!
        </p>
        <h1>CV / Resumé</h1>
        <p>
            Coming soon!
        </p>
    </div>
</div>

{% endblock %}