{% extends 'base.html' %}

{% block music_active %}active{% endblock %}
{% block music_link %}{% endblock %}

{% block body_block %}

<div class="container">
    <div class="col-md-12">
        <h1>Music</h1>
        <p>
            I spend a lot of my time playing trumpet, and have done for several years! In here I'll add details of bands I've played in etc.
        </p>
        <p>
            In Cambridge I have played with a large variety of music groups.
            I have been a member of <a href="www.churchilljazzband.com">Churchill Jazz Band</a> for the past 3 years, playing lead trumpet during my first and second years.
            In my second year I also served as Treasurer, and then as Webmaster in my third year while I was at MIT.
            Next year I'm going to be the band's secretary while carrying on my role as Webmaster at the same time.
        </p>
        <p>Other Cambridge music groups I have played with include</p>
        <ul>
            <li>CUPO (Cambridge University Pops Orchestra)</li>
            <li>CUBB (Cambridge University Brass Band)</li>
            <li>CUJO (Cambridge University Jazz Orchestra)</li>
            <li>Selwyn Jazz Band</li>
            <li>Several college orchestras, including Selwyn, St Cats and Queens (Magsoc)</li>
        </ul>
        <p>On my year abroad in Boston I played with the MIT sysmphony orchestra, a small jazz band, and on occasion the MIT Marching Band.</p>
        <p>
            Wherever I am I always try to get involved with shows if they have a band. In the past I have played in:<br />
            Pippin (CUMTS at Ed. Fringe), Seussical (MIT NextAct), Lucky Stiff (MIT MTG), Legally Blonde (MIT MTG), Into The Woods (CUMTS),
            CUMTS Gala Night, The Last Post/The Last Hundred (CUMTS), The Gondoliers (CU GandS), Footlights Panto, West Side Story (RGS),
            Oh! What a Lovely War (Lane End Singers), Oklahoma! (WHS), Bugsy Malone (RGS) + others that I can't remember!
        </p>
    </div>
</div>

{% endblock %}