{% extends 'base.html' %}

{% block structuralengineering_active %}active{% endblock %}
{% block structuralengineering_link %}{% endblock %}

{% block body_block %}

<div class="container">
    <div class="col-md-12">
        <h1>Structural Engineering</h1>
        <p>
            Anyone who knows me will tell you that my personal website wouldnt be complete without a section about structural engineering.
            Ever since I took out four large books full of pictures of buildings over on of my university holidays my friends have viewed it as an addiction.
        </p>
        <p>
            I plan to fill this section with cool things I have seen, learnt, thought of or worked on!
        </p>
    </div>
</div>

{% endblock %}